@import "../../App.scss";

.eigth{
    width: 100%;
    height: 1024px;
    display: flex;
    background: linear-gradient( to right, #F4F6F9 50%, #32333F 50%);

    .content{
        display: flex;
        justify-content: space-between;
        padding-top: 131px;
        height: 100%;

        .left{
            .top{
                .h{
                    font-family: $fonts;
                    color: $h-color;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 41.4px;
                    margin-bottom: 20px;
                }
                .p{
                    font-family: $fonts;
                    color: $h-color;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .inputs{
                display: flex;
                flex-direction: column;
                grid-gap: 24px;
                margin: 60px 0;
                .input{
                    width: 453px;
                    height: 49px !important;                    
                }
                
            }
            button{
                width: 184px;
                height: 56px;
                background-color: $h-color;
                border: none;
                border-radius: 12px;
                text-align: center;
                a{
                    text-decoration: none;
                    font-family: $fonts;
                    color: #F4F6F9;
                    font-size: 14px;
                    width: 184px !important;
                    height: 56px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                a:hover{
                    color: $h-color;
                }
            }
            button:hover{
                background-color: #F4F6F9;
                border: 2px solid $h-color;
            }
        }
        .right{
            .map{
                width: 420px;
                height: 420px;
                border-radius: 24px;
                margin-bottom: 32px;
            }
            .info{
                width: 420px;
                height: 192px;
                background-color: #ffffff;
                border-radius: 24px;
                padding: 25px 34px;
                display: flex;
                flex-direction: column;
                grid-gap: 14px;
                .element{
                    display: flex;
                    height: 38px;

                    .img{
                        width: 38px;
                        height: 38px;
                        border-radius: 100px;
                        background-color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .infoText{
                        display: flex;
                        align-items: center;
                        margin-left: 13px;
                        grid-gap: 3px;

                        .name{
                            font-family: $fonts;
                            color: $h-color;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                        }
                        .text{
                            font-family: $fonts;
                            color: $h-color;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
            .media{
                margin-top: 25px;

                .mediaP{
                    font-family: $fonts;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20.7px;
                    color: rgba(255, 255, 255, 1);
                }
                .icons{
                    margin-top: 20px;
                    display: flex;
                    grid-gap: 20px;

                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        
    }
}