@import '../../App.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.footer{
    width: 100%;
    height: 157px;
    background: $yellow;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 157px;
        p{
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-style: normal;
            color: $h-color;
            font-size: 24px;
            line-height: 28.8px;
            span{
                font-weight: 900;
            }
        }
        button{
            width: 184px;
            height: 56px;
            background-color: $h-color;
            border: none;
            border-radius: 12px;
            font-family: $fonts;
            color: $yellow;
            font-size: 14px;
            line-height: 16.1px;
            text-align: center;
        }
    }
    
}