*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 1230px;
    margin: 0 auto;
}
.slick-dots{
    li.slick-active{
        button::before{
            color: #FFC42D !important;
            
        }
    }
}
.slick-dots{
    li{
        button::before{
            color: #FFC42D !important;
            opacity: 0.25;
        }
    }
}
$white-color:#FFFFFF;
$h-color:#32333F;
$p-color:#656776;
$fonts: Arial, Helvetica, sans-serif;
$yellow:#FFC42D;